* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
* {
  cursor: default;
}
@font-face {
  font-family: Aileron-Bold;
  src: url("../fonts/Aileron-Bold.ttf");
}
@font-face {
  font-family: Aileron-Regular;
  src: url("../fonts/Aileron-Regular.ttf");
}
.request a {
  font-family: Aileron-Regular;
  color: white;
  background: #2f5bea;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 21px 34px 18px 32px;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .request a {
    padding: 22px 34px 19px 34px;
    font-size: 16px;
  }
}
h3 {
  font-family: Aileron-Bold;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #2c2e30;
}
@media (max-width: 992px) {
  h3 {
    font-size: 24px;
  }
}
/*404*/
main {
  display: flex;
  width: 100%;
  height: auto;
  background-image: url("../img/404_изображение.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background-position: 34.5% 105.5%;*/
}
.main_text {
  padding-left: 15.3%;
  padding-top: 16.4%;
  padding-right: 6.6%;
  color: white;
}
.main_text h1 {
  font-family: Aileron-Bold;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 19px;
  letter-spacing: -1.25px;
}
.main_text p {
  font-family: Aileron-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #c5d0e6;
  margin-bottom: 30px;
}
.main_text a {
  font-family: Aileron-Bold;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1px;
  color: white;
}
.main_text a:link {
  color: white;
}
.main_text a:visited {
  color: white;
}
.main_text a:hover {
  color: white;
}
.main_text a:active {
  color: white;
}
.main_text_link {
  width: 207px;
  height: 42px;
  margin-left: 5px;
  border-bottom: white 2px solid;
}
.main_img {
  padding-top: 6.7%;
}
@media (min-width: 1450px) {
  .main_img {
    width: 47.5%;
  }
}
.main_img img {
  width: 699px;
  height: 619px;
}
/*main header*/
header {
  width: 100%;
  height: auto;
  padding-bottom: 57px;
  /*height: 1000px;*/
  margin-bottom: 6px;
  padding-top: 42px;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  /*background-position: 69% 100%;*/
}
@media (min-width: 1201px) {
  header {
    background-size: 100% 100%;
  }
}
@media (max-width: 1200px) {
  header {
    padding-bottom: 145px;
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  header {
    padding-top: 27px;
    padding-bottom: 0;
    margin-bottom: 3px;
    background-position: 78% 90%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  width: 69.24%;
  height: 51px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  nav {
    width: 91.8%;
  }
}
@media (max-width: 992px) {
  nav {
    width: 91.8%;
  }
}
nav a {
  font-family: Aileron-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #2c2e30;
}
@media (max-width: 992px) {
  nav a {
    font-size: 14px;
  }
}
.nav-logo {
  margin-right: 7.6%;
}
@media (max-width: 992px) {
  .nav-logo {
    margin-right: 17px;
  }
}
@media (max-width: 992px) {
  .nav-logo img {
    width: 160px;
  }
}
.nav-link,
.nav-request {
  margin-top: 4px;
}
@media (max-width: 992px) {
  .nav-link,
  .nav-request {
    margin-top: 0;
  }
}
.nav-link-active {
  border-bottom: #2f5bea 1px solid;
  height: 28px;
}
.nav-request {
  margin-left: 11.2%;
}
@media (max-width: 992px) {
  .nav-request {
    margin-left: 25px;
  }
}
.nav-request a {
  font-family: Aileron-Regular;
  font-size: 14px;
  font-weight: 700;
  color: #2f5bea;
  padding: 18px 30px 18px 21px;
  border: #2f5bea 1px solid;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .nav-request a {
    font-size: 12px;
    padding: 12px 20px 13px 14px;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 69.5%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .header-container {
    width: 91.8%;
  }
}
.header-text {
  margin-top: 90px;
  width: 50%;
}
@media (max-width: 1200px) {
  .header-text {
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .header-text {
    margin-top: 83px;
  }
}
.header-text h1 {
  font-family: Aileron-Bold;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 58px;
  letter-spacing: -1px;
}
@media (max-width: 1200px) {
  .header-text h1 {
    font-size: 38px;
    line-height: 48px;
  }
}
@media (max-width: 992px) {
  .header-text h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.13px;
    margin-bottom: 20px;
  }
}
.header-text h1 span {
  color: #2f5bea;
}
.header-text-margin {
  margin-left: 30px;
}
.header-img {
  width: 48.5%;
  margin-top: 48px;
  margin-bottom: 191px;
}
@media (max-width: 1200px) {
  .header-img {
    margin-top: 1px;
  }
}
@media (max-width: 992px) {
  .header-img {
    margin-top: 62px;
  }
}
@media (max-width: 1200px) {
  .header-img img {
    width: 400px;
  }
}
@media (max-width: 992px) {
  .header-img img {
    width: 370px;
  }
}
.header-list {
  margin-bottom: 59px;
}
@media (max-width: 992px) {
  .header-list {
    margin-bottom: 47px;
  }
}
.header-list li p {
  font-family: Aileron-Regular;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #2c2e30;
}
@media (max-width: 1200px) {
  .header-list li p {
    line-height: 26px;
  }
}
@media (max-width: 992px) {
  .header-list li p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
  }
}
.header-list li p span.header-list-style {
  display: inline-block;
  margin-right: 17px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #9b99a5;
}
.header-reguest {
  margin-left: 5px;
}
/*about me*/
.about-me {
  position: relative;
  width: 69.44%;
  margin: 0 auto;
  padding-top: 107px;
  padding-bottom: 120px;
}
@media (max-width: 1200px) {
  .about-me {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
@media (max-width: 992px) {
  .about-me {
    width: 92%;
    padding-top: 62px;
    padding-bottom: 105px;
  }
}
.about-me-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .about-me-container {
    margin-bottom: 16px;
  }
}
.about-me-card {
  background: white;
  position: relative;
  z-index: 1;
  width: 31.5%;
  height: 239px;
  border: #e7Eaee 1px solid;
  box-shadow: 0 2px 4px 0 #e7Eaee;
  border-radius: 5px;
  text-align: center;
  padding-top: 38px;
  padding-left: 13px;
  padding-right: 13px;
}
@media (max-width: 1200px) {
  .about-me-card {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 270px;
  }
}
@media (max-width: 992px) {
  .about-me-card {
    width: 31.8%;
    padding-top: 27px;
    padding-left: 5px;
    padding-right: 5px;
    height: 207px;
  }
}
.about-me-card h4 {
  font-family: Aileron-Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0;
  color: #2c2e30;
  margin-bottom: 14px;
}
@media (max-width: 1200px) {
  .about-me-card h4 {
    margin-bottom: 5px;
  }
}
@media (max-width: 992px) {
  .about-me-card h4 {
    font-size: 16px;
    margin-bottom: 3px;
  }
}
.about-me-card p {
  font-family: Aileron-Regular;
  font-size: 16px;
  line-height: 28px;
  color: #7e8085;
  letter-spacing: 0;
}
@media (max-width: 992px) {
  .about-me-card p {
    font-size: 14px;
    line-height: 21px;
  }
}
.about-me-card2 {
  width: 48.75%;
}
.about-me-img1 {
  position: absolute;
  top: 59px;
  left: -10.6%;
  z-index: -1;
}
@media (max-width: 1200px) {
  .about-me-img1 {
    top: 29px;
  }
}
@media (max-width: 992px) {
  .about-me-img1 {
    top: 15px;
    left: -6%;
  }
}
.about-me-img2 {
  position: absolute;
  z-index: -1;
  left: 99.5%;
  top: 518px;
}
@media (max-width: 992px) {
  .about-me-img2 {
    left: 96%;
    top: 420px;
  }
}
.guarantees-background {
  background-image: url("../img/guarantees-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.guarantees,
.price {
  width: 69.44%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 120px;
}
@media (max-width: 992px) {
  .guarantees,
  .price {
    width: 92%;
    padding-bottom: 100px;
  }
}
.guarantees {
  margin-top: 2px;
}
.guarantees-container {
  display: flex;
  justify-content: space-between;
}
.guarantees-card {
  width: 31.3%;
  padding-top: 110px;
  padding-left: 13px;
  padding-right: 13px;
}
@media (max-width: 1200px) {
  .guarantees-card {
    padding-top: 50px;
  }
}
@media (max-width: 992px) {
  .guarantees-card {
    padding-top: 58px;
    width: 33%;
    padding-left: 0;
    padding-right: 0;
  }
}
.guarantees-card img {
  width: 112px;
  padding-bottom: 26px;
}
@media (max-width: 992px) {
  .guarantees-card img {
    width: 88px;
    padding-bottom: 23px;
  }
}
.guarantees-card p {
  font-family: Aileron-Bold;
  font-size: 20px;
  font-weight: 700;
  color: #2c2e30;
  line-height: 31px;
  letter-spacing: 0.5px;
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .guarantees-card p {
    font-size: 16px;
    line-height: 26px;
  }
}
.guarantees-request {
  margin-bottom: 17px;
}
@media (max-width: 992px) {
  .guarantees-request {
    margin-top: -20px;
  }
}
.price {
  padding-top: 127px;
  position: relative;
}
@media (max-width: 992px) {
  .price {
    padding-top: 103px;
  }
}
.price-img1,
.price-img2,
.price-img3 {
  position: absolute;
  z-index: 1;
}
.price-img1 {
  left: -70px;
  top: 120px;
}
@media (max-width: 992px) {
  .price-img1 {
    top: 105px;
    left: -50px;
  }
}
.price-img1 img {
  width: 198px;
  height: 198px;
}
@media (max-width: 992px) {
  .price-img1 img {
    width: 150px;
    height: 150px;
  }
}
.price-img2 {
  left: -107px;
  top: 166px;
}
@media (max-width: 992px) {
  .price-img2 {
    top: 140px;
    left: -80px;
  }
}
.price-img2 img {
  width: 199px;
  height: 193px;
}
@media (max-width: 992px) {
  .price-img2 img {
    width: 150px;
    height: 150px;
  }
}
.price-img3 {
  left: 868px;
  top: 358px;
}
@media (max-width: 1300px) {
  .price-img3 {
    left: 79%;
  }
}
@media (max-width: 992px) {
  .price-img3 {
    left: 78%;
    top: 330px;
  }
}
.price-img3 img {
  width: 266px;
  height: 263px;
}
@media (max-width: 992px) {
  .price-img3 img {
    width: 180px;
    height: 180px;
  }
}
.price-sum {
  position: relative;
  background: white;
  z-index: 5;
  width: 100%;
  height: 175px;
  text-align: center;
  margin-top: 62px;
  padding-top: 39px;
  border: #e7Eaee 1px solid;
  border-bottom: none;
}
@media (max-width: 992px) {
  .price-sum {
    padding-top: 34px;
    height: 138px;
  }
}
.price-sum h5 {
  font-family: Aileron-Regular;
  font-size: 60px;
  font-weight: 400;
  color: #2f5bea;
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .price-sum h5 {
    font-size: 46px;
    margin-bottom: 1px;
  }
}
.price-sum p {
  font-family: Aileron-Bold;
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.4px;
  color: #7e8085;
}
@media (max-width: 992px) {
  .price-sum p {
    font-size: 16px;
  }
}
.price-info {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  background: white;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border: #e7Eaee 1px solid;
}
@media (max-width: 992px) {
  .price-info {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.price-info-text {
  width: 20%;
  padding-top: 52px;
  /*padding-left: 10px;
  padding-right: 10px;*/
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 152px;
}
@media (max-width: 992px) {
  .price-info-text {
    padding-top: 33px;
    height: 120px;
  }
}
.price-info-text p {
  font-family: Aileron-Regular;
  font-size: 16px;
  line-height: 28px;
  color: #7e8085;
}
@media (max-width: 992px) {
  .price-info-text p {
    font-size: 14px;
    line-height: 20px;
  }
}
.price-info-text1 {
  padding-top: 37px;
}
.price-info-text2 {
  padding-top: 65px;
}
.main-form {
  /* height: 1055px;*/
  padding-top: 128px;
  padding-bottom: 116px;
  background-image: url("../img/form-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .main-form {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
.form-container {
  width: 40.28%;
  margin: 0 auto;
  text-align: center;
}
.form-container h5 {
  font-family: Aileron-Regular;
  font-size: 34px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.7px;
  margin-bottom: 16px;
}
.form-container h6 {
  font-family: Aileron-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.3px;
  color: #c5d0e6;
  margin-bottom: 34px;
}
.form-container p {
  width: 318px;
  margin: 0 auto;
  font-family: Aileron-Regular;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 17px;
  color: #c5d0e6;
}
.form-input-style {
  outline: none;
  width: 488px;
  height: 75px;
  padding-left: 24px;
  border-radius: 5px;
  background: white;
  margin-bottom: 14px;
}
.textarea-style {
  padding-top: 30px;
}
::-webkit-input-placeholder {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
::-moz-placeholder {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
:-moz-placeholder {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
:-ms-input-placeholder {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
.form-input-text-style {
  width: 523px;
  height: 192px;
  border-radius: 5px;
  margin-bottom: 14px;
}
.form-input-file-style {
  padding-top: 28px;
}
#txtInput {
  resize: none;
  outline: none;
}
.form-btn {
  width: 307px;
  height: 55px;
  margin-top: 26px;
  margin-bottom: 16px;
  border-radius: 28px;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 1px;
  background: white;
}
.form-btn p {
  font-family: Aileron-Bold;
  color: #2f5bea;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */