* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Aileron-Bold;
  src: url("../fonts/Aileron-Bold.ttf");
}
@font-face {
  font-family: Aileron-Regular;
  src: url("../fonts/Aileron-Regular.ttf");
}
.request a {
  font-family: Aileron-Regular;
  color: white;
  background: #2f5bea;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 21px 34px 18px 32px;
  border-radius: 30px;
   @media (max-width: 992px){
      padding: 22px 34px 19px 34px;
     font-size: 16px;
    }
}
h3 {
  font-family: Aileron-Bold;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #2c2e30;
}
/*404*/
main {
  display: flex;
  width: 100%;
  height: auto;
  background-image: url("../img/404_изображение.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background-position: 34.5% 105.5%;*/
}
.main_text {
  padding-left: 15.3%;
  padding-top: 16.4%;
  padding-right: 6.6%;
  color: white;
  h1 {
    font-family: Aileron-Bold;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 19px;
    letter-spacing: -1.25px;
  }
  p {
    font-family: Aileron-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #c5d0e6;
    margin-bottom: 30px;
  }
  a {
    font-family: Aileron-Bold;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    color: white;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:active {
    color: white;
  }
}
.main_text_link {
  width: 207px;
  height: 42px;
  margin-left: 5px;
  border-bottom: white 2px solid;
}

.main_img {
  padding-top: 6.7%;
  @media(min-width: 1450px){
    width: 47.5%;
  }
  img {
    width: 699px;
    height: 619px;
  }
}
/*main header*/
header {
  width: 100%;
  height: auto;
  padding-bottom: 57px;
  /*height: 1000px;*/
  margin-bottom: 6px;
  padding-top: 42px;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  /*background-position: 69% 100%;*/
  @media (min-width: 1201px){
    background-size: 100% 100%;
  }
  @media (max-width: 1200px) {
    padding-bottom: 145px;
    margin-bottom: 0;
  }
  @media (max-width: 992px) {
    padding-top: 27px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-position: 78% 90%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  width: 69.24%;
  height: 51px;
  margin: 0 auto;
  @media (max-width: 1200px){
      width: 91.8%;
    }
   @media (max-width: 992px){
      width: 91.8%;
    }
  a {
    font-family: Aileron-Regular;
    font-size: 16px;
    font-weight: 400;
    color: #2c2e30;
     @media (max-width: 992px){
      font-size: 14px;
    }
  }
}
.nav-logo {
  margin-right: 7.6%;
   @media (max-width: 992px){
      margin-right: 17px;
    }
  img {
    @media (max-width: 992px){
      width: 160px;
    }
  }
}
.nav-link, .nav-request {
  margin-top: 4px;
   @media (max-width: 992px){
      margin-top: 0;
    }
}
.nav-link-active {
  border-bottom: #2f5bea 1px solid;
  height: 28px;
}
.nav-request {
  margin-left: 11.2%;
   @media (max-width: 992px){
      margin-left: 25px;
    }
}
.nav-request a {
  font-family: Aileron-Regular;
  font-size: 14px;
  font-weight: 700;
  color: #2f5bea;
  padding: 18px 30px 18px 21px;
  border: #2f5bea 1px solid;
  border-radius: 30px;
   @media (max-width: 992px){
      font-size: 12px;
     padding: 12px 20px 13px 14px;
    }
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 69.5%;
  margin: 0 auto;
   @media (max-width: 1200px){
      width: 91.8%;
    }
}
.header-text {
  margin-top: 90px;
  width: 50%;
   @media (max-width: 1200px){
      margin-top: 20px;
    }
   @media (max-width: 992px){
      margin-top: 83px;
    }
  h1 {
    font-family: Aileron-Bold;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 58px;
    letter-spacing: -1px;
     @media (max-width: 1200px){
      font-size: 38px;
       line-height: 48px;
    }
     @media (max-width: 992px){
      font-size: 30px;
       line-height: 40px;
       letter-spacing: 0.13px;
       margin-bottom: 20px;
    }
    span {
      color: #2f5bea;
    }
  }
}
.header-text-margin {margin-left: 30px}
.header-img {
  width: 48.5%;
  margin-top: 48px;
  margin-bottom: 191px;
   @media (max-width: 1200px){
      margin-top: 1px;
    }
  @media (max-width: 992px){
      margin-top: 62px;
    }
  img {
     @media (max-width: 1200px){
      width: 400px;
    }
    @media (max-width: 992px){
      width: 370px;
    }
  }
}
.header-list {
  margin-bottom: 59px;
   @media (max-width: 992px){
      margin-bottom: 47px;
    }
  li p {
    font-family: Aileron-Regular;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #2c2e30;
     @media (max-width: 1200px){
      line-height: 26px;
    }
     @media (max-width: 992px){
      margin-bottom: 20px;
       font-size: 14px;
       line-height: 20px;
       letter-spacing: 0;
    }
    span.header-list-style {
      display: inline-block;
      margin-right: 17px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #9b99a5;
    }
  }
}
.header-reguest {
  margin-left: 5px;
}
/*about me*/
.about-me {
  position: relative;
  width: 69.44%;
  margin: 0 auto;
  padding-top: 107px;
  padding-bottom: 120px;
   @media (max-width: 1200px){
      padding-top: 50px;
     padding-bottom: 70px;
    }
}
.about-me-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.about-me-card {
  background: white;
  position: relative;
  z-index: 1;
  width: 31.5%;
  height: 239px;
  border: #e7Eaee 1px solid;
  box-shadow: 0 2px 4px 0 #e7Eaee;
  border-radius: 5px;
  text-align: center;
  padding-top: 38px;
  padding-left: 13px;
  padding-right: 13px;
   @media (max-width: 1200px){
      padding-top: 20px;
     padding-left: 5px;
     padding-right: 5px;
     height: 270px;
    }
  h4 {
    font-family: Aileron-Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0;
    color: #2c2e30;
    margin-bottom: 14px;
     @media (max-width: 1200px){
      margin-bottom: 5px;
    }
  }
  p {
    font-family: Aileron-Regular;
    font-size: 16px;
    line-height: 28px;
    color: #7e8085;
    letter-spacing: 0;
  }
}
.about-me-card2 {
  width: 48.75%;
}
.about-me-img1 {
  position: absolute;
  top: 59px;
  left: -10.6%;
  z-index: -1;
  @media (max-width: 1200px){
      top: 29px;
    }

}
.about-me-img2 {
  position: absolute;
  z-index: -1;
  left: 99.5%;
  top: 518px;
}
.guarantees-background {
  background-image: url("../img/guarantees-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.guarantees, .price {
  width: 69.44%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 120px;
}
.guarantees {
  margin-top: 2px;
}
.guarantees-container {
  display: flex;
  justify-content: space-between;
}
.guarantees-card {
  width: 31.3%;
  padding-top: 110px;
  padding-left: 13px;
  padding-right: 13px;
   @media (max-width: 1200px){
      padding-top: 50px;
    }
  img {
    width: 112px;
    padding-bottom: 26px;
  }
  p {
    font-family: Aileron-Bold;
    font-size: 20px;
    font-weight: 700;
    color: #2c2e30;
    line-height: 31px;
    letter-spacing: 0.5px;
    margin-bottom: 100px;
  }
}
.guarantees-request {
  margin-bottom: 17px;
}
.price {
  padding-top: 127px;
  position: relative;
}
.price-img1, .price-img2, .price-img3 {
  position: absolute;
  z-index: 1;
}
.price-img1 {
  left: -70px;
  top: 120px;
  img {
    width: 198px;
    height: 198px;
  }
}
.price-img2 {
  left: -107px;
  top: 166px;
  img {
    width: 199px;
    height: 193px;
  }
}
.price-img3 {
  left: 868px;
  top: 356px;
   @media (max-width: 1200px){
      left: 79%;
    }
  img {
    width: 266px;
    height: 263px;
  }
}
.price-sum {
  position: relative;
  background: white;
  z-index: 5;
  width: 100%;
  height: 175px;
  text-align: center;
  margin-top: 62px;
  padding-top: 39px;
  border: #e7Eaee 1px solid;
  border-bottom: none;
  h5 {
    font-family: Aileron-Regular;
    font-size: 60px;
    font-weight: 400;
    color: #2f5bea;
    margin-bottom: 8px;
  }
  p {
    font-family: Aileron-Bold;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.4px;
    color: #7e8085;

  }
}
.price-info {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  background: white;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border: #e7Eaee 1px solid;
}
.price-info-text {
  width: 20%;
  padding-top: 52px;
  /*padding-left: 10px;
  padding-right: 10px;*/
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 152px;
  p {
    font-family: Aileron-Regular;
    font-size: 16px;
    line-height: 28px;
    color: #7e8085;

  }
}
.price-info-text1 {
  padding-top: 37px;
}
.price-info-text2 {
  padding-top: 65px;
}
.main-form {
 /* height: 1055px;*/
  padding-top: 128px;
  padding-bottom: 116px;
  background-image: url("../img/form-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
   @media (max-width: 1200px){
      padding-top: 70px;
     padding-bottom: 60px;
    }
}
.form-container {

  width: 40.28%;
  margin: 0 auto;
  text-align: center;
  h5 {
    font-family: Aileron-Regular;
    font-size: 34px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.7px;
    margin-bottom: 16px;
  }
  h6 {
    font-family: Aileron-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.3px;
    color: #c5d0e6;
    margin-bottom: 34px;
  }
  p {
    width: 318px;
    margin: 0 auto;
    font-family: Aileron-Regular;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 17px;
    color: #c5d0e6;
  }
}
.form-input-style {
  outline: none;
  width: 488px;
  height: 75px;
  padding-left: 24px;
  border-radius: 5px;
  background: white;
  margin-bottom: 14px;
}
.textarea-style {
  padding-top: 30px;
}
::-webkit-input-placeholder {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
::-moz-placeholder          {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
:-moz-placeholder           {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
:-ms-input-placeholder      {
  font-family: Aileron-Regular;
  font-size: 18px;
  color: #7e8085;
}
.form-input-text-style {
  width: 523px;
  height: 192px;
  border-radius: 5px;
  margin-bottom: 14px;
}
.form-input-file-style {
  padding-top: 28px;
}
#txtInput {
  resize: none;
  outline: none;
}
.form-btn {
  width: 307px;
  height: 55px;
  margin-top: 26px;
  margin-bottom: 16px;
  border-radius: 28px;
  padding-bottom: 8px;
  padding-left: 13px;
  background: white;
  font-family: Aileron-Regular;
  color: #2f5bea;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  span {
    font-size: 25px;
    margin-left: 25px;
    margin-top: 3px;
  }
}




