* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Aileron-Bold;
  src: url("../fonts/Aileron-Bold.ttf");
}
@font-face {
  font-family: Aileron-Regular;
  src: url("../fonts/Aileron-Regular.ttf");
}
.request a {
  color: white;
  background: #2f5bea;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.2px;
  padding: 18px 32px 17px 32px;
  border-radius: 30px;
}
h3 {
  font-family: Aileron-Bold;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #2c2e30;
}
/*404*/
main {
  display: flex;
  width: 100%;
  height: 800px;
  background-image: url("../img/rectangle.jpg");
  background-repeat: no-repeat;
  background-position: 34.5% 105.5%;
}
.main_text {
  padding-left: 15.3%;
  padding-top: 16.4%;
  padding-right: 6.6%;
  color: white;
  h1 {
    font-family: Aileron-Bold;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 19px;
    letter-spacing: -1.25px;
  }
  p {
    font-family: Aileron-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #c5d0e6;
    margin-bottom: 30px;
  }
  a {
    font-family: Aileron-Bold;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    color: white;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:active {
    color: white;
  }
}
.main_text_link {
  width: 207px;
  height: 42px;
  margin-left: 5px;
  border-bottom: white 2px solid;
}

.main_img {
  padding-top: 6.7%;
  @media(min-width: 1450px){
    width: 47.5%;
  }
  img {
    width: 699px;
    height: 619px;
  }
}
/*main header*/
header {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  padding-top: 42px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 69% 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 69.24%;
  height: 51px;
  margin: 0 auto;
  a {
    font-family: Aileron-Regular;
    font-size: 16px;
    font-weight: 400;
    color: #2c2e30;
  }
}
.nav-logo {
  margin-right: 7.2%;
}
.nav-link, .nav-request {
  margin-top: 2px;
}
.nav-link-active {
  border-bottom: #2f5bea 1px solid;
  height: 28px;
}
.nav-request {
  margin-left: 10.1%;
}
.nav-request a {
  font-family: Aileron-Regular;
  font-size: 14px;
  font-weight: 700;
  color: #2f5bea;
  padding: 18px 30px 18px 21px;
  border: #2f5bea 1px solid;
  border-radius: 30px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 69.5%;
  margin: 0 auto;
}
.header-text {
  margin-top: 90px;
  width: 50%;
  h1 {
    font-family: Aileron-Bold;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 58px;
    letter-spacing: -3px;
    span {
      color: #2f5bea;
    }
  }
}
.header-text-margin {margin-left: 30px}
.header-img {
  width: 48.5%;
  margin-top: 46px;
  margin-bottom: 193px;
}
.header-list {
  margin-bottom: 59px;
  li p {
    font-family: Aileron-Regular;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #2c2e30;
    span.header-list-style {
      display: inline-block;
      margin-right: 17px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #9b99a5;
    }
  }
}
.header-reguest {
  margin-left: 5px;
}
/*about me*/
.about-me {
  position: relative;
  width: 69.44%;
  margin: 0 auto;
  padding-top: 107px;
  padding-bottom: 120px;
}
.about-me-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.about-me-card {
  background: white;
  position: relative;
  z-index: 1;
  width: 31.5%;
  height: 239px;
  border: #e7Eaee 1px solid;
  box-shadow: 0 2px 4px 0 #2c2e30;
  border-radius: 5px;
  text-align: center;
  padding-top: 38px;
  padding-left: 13px;
  padding-right: 13px;
  h4 {
    font-family: Aileron-Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0;
    color: #2c2e30;
    margin-bottom: 14px;
  }
  p {
    font-family: Aileron-Regular;
    font-size: 16px;
    line-height: 28px;
    color: #7e8085;
    letter-spacing: 0;
  }
}
.about-me-card2 {
  width: 48.75%;
}
.about-me-img1 {
  position: absolute;
  top: 59px;
  left: -10.6%;
  z-index: -1;
}
.about-me-img2 {
  position: absolute;
  z-index: -1;
  left: 99.5%;
  top: 518px;
}
.guarantees, .price {
  width: 69.44%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 120px;
}
.guarantees-container {
  display: flex;
  justify-content: space-between;
}
.guarantees-card {
  width: 31.3%;
  padding-top: 112px;
  padding-left: 13px;
  padding-right: 13px;
  img {
    width: 112px;
    padding-bottom: 27px;
  }
  p {
    font-family: Aileron-Bold;
    font-size: 20px;
    font-weight: 700;
    color: #2c2e30;
    line-height: 31px;
    letter-spacing: -0.4px;
    margin-bottom: 100px;
  }
}
.price-sum {
  width: 100%;
  height: 146px;
  text-align: center;
  margin-top: 61px;
  padding-top: 29px;
  border: #e7Eaee 1px solid;
  border-bottom: none;
  h5 {
    font-family: Aileron-Regular;
    font-size: 60px;
    font-weight: 400;
    color: #2f5bea;
  }
  p {
    font-family: Aileron-Bold;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0;
    color: #7e8085;

  }
}
.price-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: #e7Eaee 1px solid;
}
.price-info-text {
  width: 17.68%;
  padding-top: 51px;
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 152px;
}




