* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
@font-face {
  font-family: Aileron-Bold;
  src: url("../fonts/Aileron-Bold.otf");
}
@font-face {
  font-family: Aileron-Regular;
  src: url("../fonts/Aileron-Regular.otf");
}
@font-face {
  font-family: roboto-Light;
  src: url("../fonts/roboto-Light.ttf");
}
main {
  display: flex;
  width: 1440px;
  height: 800px;
  background-image: url("../img/Rectangle.jpg");
  background-repeat: no-repeat;
  background-position: 20% 105%;
}
.main_text {
  border: red 1px solid;
  padding-left: 15.3%;
  padding-top: 15.76%;
  padding-right: 6.7%;
  color: white;
  h1 {
   font-family: Aileron-Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  p {
    font-family: Aileron-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: #c5d0e6;
    margin-bottom: 23px;
  }
  a {
    font-family: Aileron-Bold;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: white;
    text-decoration: none;
  }
      a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
}
.main_text_link {
  width: 207px;
  height: 41px;
  border-bottom: white 1px solid;
}
.main_img {
  padding-top: 7%;
  img {
    width: 699px;
    height: 619px;
  }
}
